# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.swp

# Video and audio files
*.mp4
*.avi
*.mov
*.mp3

# Log files
*.log

# IDE specific files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Build files
build/
dist/
*.egg-info/
